*::after,
*::before,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0.05rem;
  /* word-spacing: 0rem; */
  color: hsl(211, 10%, 45%);
}

/* ///////////////////////////////////////////////////       BUTTONS */
.btn {
  border: none;
  cursor: pointer;
  background: none;
}

/* //////////////////////////////////////////////////         FLEX */
.flex {
  display: flex;
  align-items: center;
}

.img-avatar {
  width: 4.6rem;
}
