.score-container,
.btn-score {
  background-color: hsl(223, 19%, 93%);
  color: hsl(212, 24%, 26%);
  font-weight: 600;
}

.btn-score {
  height: 3.2rem;
  padding: 0 0.4rem;
  align-items: center;
  /* width: 3.2rem; */
}

.score-container {
  width: 8rem;
  border-radius: 1rem;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
}

/* ////////////////////////////////////////////         reply-container */
/* /////////////////////////////////////////// */

.reply-container {
  width: 8.4rem;
  font-weight: 600;
  padding: 0.4rem 0.8rem;

  color: hsl(238, 40%, 52%);
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.reply {
  cursor: pointer;
}

/* /////////////////////////////////////////            avatar */
/* //////////////////////////////////////// */

.avatar-container {
  gap: 1rem;
}

.user-name {
  font-weight: 600;
  color: hsl(212, 24%, 26%);
}

/* //////////////////////////////////////////               COMMENT-CARD */
/* ///////////////////////////////////////// */

.comment-card {
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 1rem;
  padding: 1.6rem 1.2rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.comment-footer {
  justify-content: space-between;
}

/* ///////////////////////////////////////////////              COMMENT-FIELD    */
/* ////////////////////////////////////////////// */

.comment-field {
  border-radius: 1rem;
  padding: 0.8rem 1.2rem;
  height: 10rem;
  width: 80%;
  background-color: hsl(0, 0%, 100%);
}

.btn-send {
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.8rem 1.6rem;

  border-radius: 0.5rem;
  background-color: hsl(238, 40%, 52%);
  color: hsl(0, 0%, 100%);
}
